KMS_SERVICE_NAME='Template FastAPI'
KMS_SERVICE_VERSION=0.1.0
KMS_SERVICE_PORT=8000
KMS_PRIVATE_KEY_PATH=./certs/
KMS_PUBLIC_KEY_PATH=./certs/public/
KMS_PRIVATE_KEY_FILENAME=private.pem
KMS_JWT_ALGORITHM=RS256
KMS_ENVIRONMENT=development
KMS_SENTRY_DSN=""
KMS_SENTRY_RELEASE=""

